.block-content {
    overflow: hidden auto;
    min-width: 0;
    min-height: 0;
}

.block-content-section {
    flex-wrap: wrap;
}

.block-content-section,
.block-container,
.block-inner-section,
.block-sub-section {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    gap: var(--margin-balanced);
}

.block-sub-section {
    margin: 0;
    gap: var(--spacing-tight);
}

.block-inner-section { gap: var(--spacing-balanced) }

.block-container.row, .block-content-section.row, .block-inner-section.row {
    flex-direction: row;
}

.block-inner-section:not(.modal-item) {
    width: 100%;
}

.block-content-section.inline,
.block-container.inline,
.block-inner-section.inline,
.contextual.inline,
.block-sub-section.inline {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.block-inner-section.compact {
    gap: var(--spacing-balanced);
}

.contextual {
    flex: 1;
    gap: var(--margin-small);
}

.block-container.narrow {
    max-width: 250px;
}

.block-container.medium {
    max-width: 400px;
}

.block-content-section.narrow {
    max-width: 500px;
}

.block-content-section.medium {
    max-width: 700px;
}

.block-content-section.wide {
    max-width: 900px;
}