/* ========================== */

/* Body configuration (to make it look like a dialog box, vaguely) */

body {
  max-width: var(--max-width_extrawide);
  padding-bottom: 8px;
  outline: 2px solid grey;
}

/* ========================== */

/* Fake browser elements */

#fake-browse {
    background: linear-gradient(
        0deg,
        rgba(34, 87, 214, 1) 0%,
        rgba(36, 93, 219, 1) 100%
    );

    box-shadow: inset 3px 2px 0 1px rgba(0, 0, 0, 0.5);
}

#browse-text {
  background: none;
}

#browse-text-bar {
    flex: 1;
    font-size: var(--font-size_component);

    background: darkgrey;
    color: rgb(49, 48, 48);
    border: 1px solid black;
    box-shadow: inset 3px 2px 0 1px rgba(0, 0, 0, 0.5);

    margin: var(--spacing_tight);
    padding: var(--spacing_tight) var(--spacing_balanced);
}

#browse-bar {
    display: flex;
    flex-direction: row;
}

#browse-search {
    background: rgb(103, 122, 230);
    color: rgb(245, 229, 229);
    box-shadow: inset 3px 2px 0 1px rgba(0, 0, 0, 0.5);
}

#bookmarks-bar {
  background: rgb(28, 28, 28);
}

#browse-close {
    width: 100%;
    height: 100%;
    flex: 0 0 35px;

    color: white;
    background: rgb(240, 48, 48);

    box-shadow: inset 3px 2px 0 1px rgba(0, 0, 0, 0.5);
}

/* Fake webpage scaling */

#web-contents {
  margin: 0 24px;
}

/* ========================== */

/* Small screen margin fix */

 @media screen and (max-width: 1200px)  {
  body {
   margin: 8px;
  }
 }

 /* ========================== */