/* Fake browser elements */

#fake-browse {
    background: linear-gradient(
        0deg,
        #2257D6 0%,
        #245DDB 100%
    );
    box-shadow: inset 3px 2px 0 1px #00000080;
}

#browse-text {
    flex: 0 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#browse-text-bar {
    flex: 1 1 auto;
    min-width: 0;
    font-size: var(--font-size-component);
    background: darkgrey;
    color: #313030;
    border: 1px solid black;
    box-shadow: inset 3px 2px 0 1px #00000080;
    margin: var(--spacing-tight);
    padding: var(--spacing-tight) var(--spacing-balanced);
}

#browse-bar {
    display: flex;
    flex-direction: row;
    min-width: 0;
    width: 100%;
}

#browse-search {
    background: #677AE6;
    color: #F5E5E5;
    box-shadow: inset 3px 2px 0 1px #00000080;
}

#bookmarks-bar {
    background: #1C1C1C;
    flex-direction: row;
    display: flex;
}

#browse-close {
    flex: 0 0 35px;
    height: 100%;
    color: white;
    background: #F03030;
    box-shadow: inset 3px 2px 0 1px #00000080;
}

/* Fake webpage scaling */

#fake-dialog-box {
    width: 100%;
    max-width: var(--max-width-extrawide);
    min-width: 0;
    margin: 0 auto;
    padding-bottom: 8px;
    outline: 2px solid grey;
    box-sizing: border-box;
}

#fake-web-content {
    margin: var(--spacing-balanced) var(--margin-small);
}

/* Abolish the fake webpage on smart fridges */

@media screen and (width <= 400px) {
    #fake-browse {
        display: none;
    }

    body {
        outline: none;
    }
}

/* Small screen margin fix */

@media screen and (width <= 1200px) {
    body {
        margin: 8px;
    }
}