/* ========================== */

/* Padding */

button, .link-button {
    display: flex;
    align-items: center;
    gap: var(--spacing-balanced);
     padding: var(--spacing-compact);
}

button .link-emblem, .link-button .emblem {
    width: 2em;
    height: 2em;
    object-fit: contain;
}

button:disabled, .link-button:disabled {
    color: #504e4e;
    border: 1px dashed #504e4e;
}

/* ========================== */