/* ========================== */

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--spacing-balanced);
    width: 100%;
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media screen and (width <= 700px) { .image-grid { grid-template-columns: repeat(3, minmax(0, 1fr)) } }

@media screen and (width <= 500px) { .image-grid { grid-template-columns: repeat(2, minmax(0, 1fr)) } }

/* ========================== */