/* ========================== */

/* Padding */

:root {
    --input-padding-default: var(--spacing-cozy);
}

.input-box {
    padding: calc(var(--input-padding-default) / 2) var(--input-padding-default);
}

/* For autofill */

input:-webkit-autofill,
input:autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:autofill:hover,
input:autofill:focus {
    box-shadow: 0 0 0 1000px var(--default-theme-bg-tertiary) inset !important;
    border: 1px dashed var(--default-theme-fg-tertiary) !important;
    -webkit-text-fill-color: var(--default-theme-fg-secondary) !important;
}

/* ========================== */
