.card-code {
    width: 2rem;
}

.card-promo, card-name {
    width: 5em;
}

.card-expiration {
    width: 3rem;
}

.card-name {
    width: 8rem;
}

.payment-section {
    flex-direction: row !important;  
    justify-content: space-between;
    transition: color 400ms;
}

.payment-section .modal-item {
    gap: var(--spacing_balanced);
    display: inline-flex;
    align-items: center;
}

.payment-section[disabled],
.list-consolidated[disabled] ,
.payment-section[disabled] *,
.list-consolidated[disabled] * {
    mix-blend-mode: color-dodge !important;
    color: #888;
    cursor: not-allowed !important;
}