/* Field widths */

.card-code { width: 2rem }
.card-promo, card-name { width: 5em }
.card-expiration { width: 3rem }
.card-name { width: 8rem }

/* Payment sections */

.payment-section .block-inner-section {
    padding: 2px;
    gap: var(--margin-small);
}

.payment-section[disabled],
.list-consolidated[disabled] {
    cursor: not-allowed !important;
}

.payment-section[disabled] *,
.list-consolidated[disabled] * {
    mix-blend-mode: color-dodge !important;
    color: #888;
    pointer-events: none;
    user-select: none;
}

#upper-payment-section {
    max-height: 200px;
    opacity: 1;
    transform: scale(1);
    overflow: hidden;
    flex-direction: column;
}

#upper-payment-section .link-button {
    white-space: nowrap;
}

#lower-payment-section .block-sub-section { margin-bottom: 8px; }

#lower-payment-section .modal-item .block-sub-section {
    gap: var(--spacing-tight);
    display: flex;
    flex-direction: column;
}

#lower-payment-section.block-inner-section {
    justify-content: space-between;
}

/* Lists within the payment section */

.list-consolidated {
    display: flex;
    width: 100%;
}

.list-consolidated button {
    line-break: strict;
    min-width: 200px;
}