/* ========================== */

/* Don't set font color or family here! Use /themes/ instead. */

/* Font size correction */

h1, h2, h3, h4, h5, h6,
big, p, small,
button {
    word-wrap: break-word;
}

h1    {  font-size: clamp(var(--font-size_xl), var(--font-scaling_peak) + var(--font-scaling_size-reference), var(--font-size_xxl))  }
h2    {  font-size: clamp(var(--font-size_l), var(--font-scaling_peak) + var(--font-scaling_size-reference), var(--font-size_xl))  }
h3    {  font-size: clamp(var(--font-size_m), var(--font-scaling_peak) + var(--font-scaling_size-reference), var(--font-size_l))  }
h4    {  font-size: clamp(var(--font-size_s), var(--font-scaling_peak) + var(--font-scaling_size-reference), var(--font-size_m))  }
h5    {  font-size: clamp(var(--font-size_xs), var(--font-scaling_peak) + var(--font-scaling_size-reference), var(--font-size_s))  }
h6    {  font-size: clamp(var(--font-size_xs), var(--font-scaling_peak)  + var(--font-scaling_size-reference), var(--font-size_xs))  }

big {  font-size: clamp(var(--font-size_l), var(--font-scaling_peak) + var(--font-scaling_size-reference), var(--font-size_xl))  }
p, span.mixed-text {  font-size: clamp(var(--font-size_baseline), var(--font-scaling_peak) + var(--font-scaling_size-reference), var(--font-size_content))  }
small {  font-size: clamp(var(--font-size_xs), var(--font-scaling_peak) + var(--font-scaling_size-reference), var(--font-size_s))  }

button, .details-panel * {  font-size: clamp(var(--font-size_baseline), var(--font-scaling_peak) + var(--font-scaling_size-reference), var(--font-size_component))  }

/* ========================== */

/* Hyperlink decorations */

:any-link:not([preserve-style]) {
    text-decoration: none;
    color: inherit;
}

/* ========================== */

/* Inline mixed text fix */

span.mixed-text {
    display: inline;
}

span.mixed-text p,
span.mixed-text code {
    display: inline;
    margin: 0;
}

/* Code blocks */

code {
    font-family: 'Monaspace Krypton', monospace;
    background: rgb(48, 36, 33);
    border-radius: 4px;
    
    display: inline-block; 
    vertical-align: middle; 
    
    padding: 2px 4px; 
    
    border: 1px solid rgb(79, 68, 64);
    color: rgb(255, 238, 226);
    width: fit-content;
}

/* Headings and flavor text */

h1 span {
    display: inline-block;
}

h1 span::first-letter {
    color: var(--default-theme_fg-primary);
}

.flavor-text,
.headline,
h1,
h2,
h3,
h4 {
    width: fit-content;
}

.flavor-text {
    position: relative;
}

/* First-letter anchor */

.first-letter {
    position: relative;
    display: inline-block;
    color: var(--default-theme_fg-primary);
}

/* Inner ring */

.first-letter::before {
    content: "";
    position: absolute;

    left: 50%;
    top: 50%;

    width: 0.8em;
    height: 0.8em;

    border: 4px dashed var(--default-theme_bg-secondary);
    background: var(--default-theme_bg-tertiary);
    mix-blend-mode: exclusion;

    pointer-events: none;

    animation: flavor-ring-forward 20s linear infinite;
}

/* Outer ring */

.first-letter::after {
    content: "";
    position: absolute;

    left: 50%;
    top: 50%;

    width: 1em;
    height: 1em;

    border: 2px dashed var(--default-theme_fg-tertiary);

    pointer-events: none;

    animation: flavor-ring-backward 10s linear infinite;
}

/* Clockwise */

@keyframes flavor-ring-forward {

    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(0.9);
    }

    50% {
        transform: translate(-50%, -50%) rotate(180deg) scale(0.75);
        opacity: 0.3;
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) scale(0.9);
    }
}

/* Counter-clockwise */

@keyframes flavor-ring-backward {

    0% {
        transform: translate(-50%, -50%) rotate(360deg) scale(0.8);
    }

    50% {
        transform: translate(-50%, -50%) rotate(180deg) scale(0.7);
        opacity: 0.3;
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg) scale(0.8);
    }
}

/* ========================== */