/* stylelint-disable custom-property-empty-line-before */

/* Some .css files depend on variables.css and must be linked to the
HTML for full stability. */

/* rem (Root Em) scaling is preferred. */



:root {
    /* Spacing/padding presets */

    --spacing-spacious: 1em;
    --spacing-cozy: 0.75em;
    --spacing-balanced: 0.5em;
    --spacing-compact: 0.25em;
    --spacing-tight: 0.2em;
    --spacing-cramped: 0.1em;
    --spacing-precise: 1px;

    /* Font size presets */ 
    
    --font-size-baseline: 1rem;
    --font-size-component: 1.075rem;
    --font-size-content: 1.2rem;
    --font-size-xxs: 0.8rem;
    --font-size-xs: 1.2rem;
    --font-size-s: 1.4rem;
    --font-size-m: 1.6rem;
    --font-size-l: 2rem;
    --font-size-xl: 3rem;
    --font-size-xxl: 4rem;
    --font-scaling-peak: 5vw;
    --font-scaling-size-reference: 0.5rem;

    /* Margin presets */

    --margin-huge: 16em;
    --margin-large: 8em;
    --margin-medium: 4em;
    --margin-balanced: 2em;
    --margin-small: 1em;
    --margin-tiny: 0.5em;

    /* Max-width presets */

    --max-width-narrow: 200px;
    --max-width-balanced: 500px;
    --max-width-wide: 700px;
    --max-width-verywide: 900px;
    --max-width-extrawide: 1200px;
}