RewriteEngine On

# Roblox to Discord communication
RewriteRule ^api/roblox/(.*)$ http://127.0.0.1:3000/api/roblox/$1 [P,L]

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R=301]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]